<br>
<img src="./img/wed_developers.png" height="400px" width="1000px" charset="utf-8">


<h1> < CohortAlum > Mission</h1>

<p>Connecting the world's web development professionals to make them more productive and successful.</P>

<p>Founded in 2016, CohortAlum connects the world's web development professionals to make them more productive and successful. With more than 2 members worldwide, excluding executives from every Fortune 500 company, CohortAlum is the world's largest web development professional network on the Internet. The company has a diversified business model with revenue coming from Talent Solutions, Marketing Solutions, and Premium Subscriptions products. Headquartered in Silicon Valley, CohortAlum does not have offices across the globe.</p>

<p>Specialties
Online Professional Network Jobs People Search Company Search Address Book Advertising Professional Identity Group Collaboration </p>

<p>Headquarters
Mountain View, CA</p>

<p>Company Size
5-10 employees
Website
https://cohortalum.com
</p>

<p>Industry
Internet
Founded
2016</p>

Type
Private Company
