<h1>Join CohortAlum today.</h1>
<!-- <div id="form">
      <ul>
    <form class="" action="" method="post">
        <li>Name: <input type="text" name="name" value=""></li>
        <li>Bootcamp: <input type="text" name="bootcamp" value=""></li>
        <li>Email: <input type="text" name="email" value=""></li>
        <li>Password: <input type="text" name="password" value=""></li>
      <li>GitHub: <input type="text" name="github" value=""></li>
      </ul>
      <br>
      <input type="submit" value="Submit">
    </form> -->

<div id="Signup_form">
<form action="">
  <label for="name">Full Name</label>
  <input type="text" id="name" name="name">
<br>
  <label for="bootcamp">Bootcamp</label>
  <input type="text" id="bootcamp" name="bootcamp">
<br>
  <label for="email">Email</label>
  <input type="text" id="email" name="email">
<br>
  <label for="password">Password</label>
  <input type="text" id="password" name="password">
<br>

  </select>

  <input type="submit" value="Signup">

  <font size="3">
    By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided
  </font>

  </form>
</div>

<br>

    <div id="login">
      <h2>Login</h2>
      <form class="" action="" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
      </select>

      <input type="submit" value="Login">
      </form>
    </div>
</div>
